* {
    margin: 0;
    padding: 0;
}

#main_shapes {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 150vh;
    background: linear-gradient(180deg, rgba(191,228,245,1) 0%, rgba(180,183,228,1) 100%);
    /* DISPLAY STATE */
    display: none;
}

/* LOGO */
#shapes_logo {
    position: absolute;
    background: linear-gradient(#ffe8c9, #ffcbcb);
    width: 280px;
    height: 70px;
    border-radius: 100px;
    margin: 30px;
}

#shapes_logoText {
    display: flex;
    position: relative;
    justify-content: center;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255,81,81,1);
}

/* QUESTION */
#shapes_questionBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    transform: translateX(-50%);
    left: 50%;
    top: 200px;
    align-items: center;
}

#shapes_extention {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    top: -30px;
    background-color: white;
    border-radius: 500px;
    left: 12px;
}

#shapes_questionBox h1 {
    color: rgb(67, 153, 233);
    padding: 20px;
    font-size: 28pt;
}

#shapes_questionBox h2 {
    position: absolute;
    color: rgb(235, 99, 81);
    margin: 70px;
    font-size: 24pt;
    left: 0;
}

/* QUESTION 1 EXAMPLE IMAGES */
.shapes_category_1_imgs {
    position: relative;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 50px;
    border-radius: 30px;
}

#shapes_examples {
    display: flex;
    margin-top: 150px;
}

#shapes_q1_img1 {
    background-image: none;
}

#shapes_q1_img2 {
    background-image: none;
}

#shapes_q1_img3 {
    background-image: none;
}

.shapes_borderLine {
    width: 90%;
    border-bottom: 3px dashed rgb(230, 230, 230);
    margin: 50px;
}

#shapes_answers {
    display: flex;
}

#shapes_a1_img1 {
    background-image: none;
}

#shapes_a1_img2 {
    background-image: none;
}

#shapes_a1_img3 {
    background-image: none;
}

/* all hover states */
#shapes_logo:hover{
    cursor: pointer;
}

#shapes_Image_cont:hover{
    cursor: pointer;
}
