* {
    margin: 0;
    padding: 0;
}

#main {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 150vh;
    background: linear-gradient(180deg, rgba(191,228,245,1) 0%, rgba(180,183,228,1) 100%);
}

/* LOGO */
#logo {
    position: absolute;
    background: linear-gradient(#ffe8c9, #ffcbcb);
    width: 280px;
    height: 70px;
    border-radius: 100px;
    margin: 30px;
}

#logoText {
    display: flex;
    position: relative;
    justify-content: center;
    top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    color: rgba(255,81,81,1);
}

/* MENU */
#menu {
    position: absolute;
    display: flex;
    transform: translateX(-50%);
    left: 50%;
    width: 1000px;
    height: 160px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 100;
}

#Image_cont {
    position: relative;
    display: flex;
    width: 800px;
    height: 100px;
    background-color: white;
    border-radius: 70px;
}

#img1 {
    background-image: url(imgs/img1.jpg);
    border-radius: 70px 0px 0px 70px;
}
#img2 {
    background-image: url(imgs/img2.jpg);
}
#img3 {
    background-image: url(imgs/img3.jpg);
    border-radius: 0px 70px 70px 0px;
}

#img1, #img2, #img3 {
    position: relative;
    width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.line {
    position: relative;
    height: 100%;
    width: 5px;
    background-color: rgb(155, 202, 247);
}

.Category_Text_Box {
    filter: drop-shadow(3px 7px 20px rgba(0, 0, 0, 0.059));
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    top: 80px;
    background-color: white;
    border-radius: 500px;
    left: 12px;
}

#box3 {
    border: rgb(134, 211, 255) 3px solid;
    filter: drop-shadow(0px 0px 10px rgba(188, 226, 252, 0.87));
}

#textCategory1 {
    color: rgba(171,229,95,1);
}

#textCategory2 {
    color: rgba(255,107,182,1);
}

#textCategory3 {
    color: rgb(107, 115, 235);
}

#textCategory1, #textCategory2, #textCategory3 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

/* QUESTION */
#questionBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 1500px;
    height: 800px;
    background-color: white;
    border-radius: 30px;
    transform: translateX(-50%);
    left: 50%;
    top: 300px;
    align-items: center;
}

#extention {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 70px;
    top: -30px;
    background-color: white;
    border-radius: 500px;
    left: 12px;
}

#questionBox h1 {
    color: rgb(124, 196, 10);
    padding: 20px;
    font-size: 28pt;
}

#questionBox h2 {
    position: absolute;
    color: rgb(65, 202, 243);
    margin: 70px;
    font-size: 24pt;
    left: 0;
}

/* QUESTION 1 EXAMPLE IMAGES */
.category_1_imgs {
    position: relative;
    width: 300px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 50px;
    border-radius: 30px;
}

#examples {
    display: flex;
    margin-top: 150px;
}

#q1_img1 {
    background-image: url(imgs/q1_img1.jpg);
}

#q1_img2 {
    background-image: url(imgs/q1_img1.jpg);
}

#q1_img3 {
    background-image: url(imgs/q1_img1.jpg);
}

.borderLine {
    width: 90%;
    border-bottom: 3px dashed rgb(230, 230, 230);
    margin: 50px;
}

#answers {
    display: flex;
}

#a1_img1 {
    background-image: url(imgs/a1_img1.jpg);
}

#a1_img2 {
    background-image: url(imgs/a1_img1.jpg);
}

#a1_img3 {
    background-image: url(imgs/a1_img1.jpg);
}

/* all hover states */
#logo:hover{
    cursor: pointer;
}

#Image_cont:hover{
    cursor: pointer;
}
